.actions {
  display: flex;

  @media (max-width: 767px) {
    padding: 0 20px;
    flex-direction: column;
  }

  @media (min-width: $tablet) {
    flex-direction: column;
    padding: 0 30px 70px;
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding: 0 110px 0 0;
    grid-column: 2;
    grid-row: 2 / span 3;
  }
}

.actions__wrapper {
  @media (max-width: 767px) {
    min-width: 161px;
    min-height: 290px;
    background:
      linear-gradient(
        rgba($lighter-primary-bg, 0.85),
        rgba($lighter-primary-bg, 0.85)
      ),
      image-set(
        url("../../images/background-catalog-action-mobile@1x.jpg") 1x,
        url("../../images/background-catalog-action-mobile@2x.jpg") 2x
      ) center/contain no-repeat,
      #8a8a8a;
  }

  @media (min-width: $tablet) {
    min-width: 707px;
    min-height: 200px;
    background:
      linear-gradient(
        rgba($lighter-primary-bg, 0.85),
        rgba($lighter-primary-bg, 0.85)
      ),
      image-set(
        url("../../images/background-catalog-action-tablet@1x.jpg") 1x,
        url("../../images/background-catalog-action-tablet@2x.jpg") 2x
      ) center/contain no-repeat,
      #8a8a8a;
  }

  @media (min-width: $desktop) {
    min-width: 245px;
    min-height: 288px;
    margin-top: 108px;
    background:
      linear-gradient(
        rgba($lighter-primary-bg, 0.85),
        rgba($lighter-primary-bg, 0.85)
      ),
      image-set(
        url("../../images/background-catalog-action-desktop@1x.jpg") 1x,
        url("../../images/background-catalog-action-desktop@2x.jpg") 2x
      ) center/contain no-repeat,
      #8a8a8a;
  }
}

.actions__description {
  position: relative;
  margin: 0;
  text-align: center;
  color: $text-light;
  padding: 187px 61px 43px 58px;

  @media (min-width: $tablet) {
    padding: 0;
    max-width: 161px;
    left: 421px;
    top: 71px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    max-width: 161px;
    left: 15%;
    top: 68%;
  }

  &::before {
    content: "";
    position: absolute;

    background-image: url("../../icons/stack.svg#gift-icon");
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 83px;

    @media (max-width: 767px) {
      background-size: 78px 80px;
      top: 20%;
    }

    @media (min-width: $tablet) {
      top: -22%;
      right: 421px;
    }

    @media (min-width: $desktop) {
      top: -275%;
      right: 20%;
    }
  }
}
