.contacts {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    padding: 26px 20px;
    gap: 22px;
  }

  @media (min-width: $tablet) {
    padding: 60px 70px;
    gap: 308px;
  }

  @media (min-width: $desktop) {
    grid-area: row2-start / 1; /* Размещаем строго во втором ряду */
    place-self: center start; /* Выравнивание по левому краю */
    margin-left: 8%;
    z-index: 2;
    background: #ffffff;
    padding: 60px 78px 60px 80px;
    max-width: 565px;
    gap: 87px;
  }
}

.contacts__invite {
  font-family: $title-font;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  min-width: 60px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }
}

.contacts__address {
  margin: 0;
  color: #444444;
  min-width: 60px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  span {
    @media (min-width: $tablet) {
      display: inline-block;
      padding-top: 20px;
    }
  }
}
