.slider-container {
  @media (min-width: $tablet) {
    background: transparent;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
